# Project Title
### Data Engineering Capstone Project

#### Project Summary
The goal of this project to built ETL pipline uses two different source of data, 194 immagration and city temperature.The database will be ready for Analyst to find any insight relation between immagration and temperature   

The project follows the follow steps:
* Step 1: Scope the Project and Gather Data
* Step 2: Explore and Assess the Data
* Step 3: Define the Data Model
* Step 4: Run ETL to Model the Data
* Step 5: Complete Project Write Up

In [5]:
# !pip install pyspark
#pip install pyarrow

### Step 1: Scope the Project and Gather Data

#### Scope 
Explain what you plan to do in the project in more detail. What data do you use? What is your end solution look like? What tools did you use? etc>

#### Describe and Gather Data 
##### The immigration data comes form US National Tourism and Trade Office.


##### Immigration Data
- cicid - float64 - ID that is unique, identify the dataset
- i94yr - float64 - 4 digit year
- i94cit - float64 - 3 digit code of immigrant born country
- i94res - float64 - 3 digit code of immigrant country of residence
- arrdate - float64 - Arrival date in the USA
- i94port = 3 character code of destination USA city
- i94mode - float64 - Mode of transportation (1 = Air; 2 = Sea; 3 = Land; 9 = Not reported)
- biryear - float64 - 4 digit year of birth
- i94visa - float64 - Visa codes modified into: (B1, E2 = Business; B2 = Pleasure; F1 = Student, WB, WT= Three months visit, others = the rest)
- gender - 
- fltno - object - Flight number of Airline used to arrive in U.S.
- visatype - object - Class of admission legally admitting the non-immigrant to temporarily stay in U.S.


### The temperature data set comes from Kaggle. It is in csv format.

* AverageTemperature = average temperature
* City = city name
* Country = country name
* Latitude= latitude
* Longitude = longitude

In [12]:
# Do all imports and installs here
import pandas as pd
from pyspark.sql.functions import lower, col
from pprint import pprint
import configparser
from datetime import datetime
import os, sys
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf, col




import pyspark.sql.functions as F
pd.set_option('display.width',170, 'display.max_rows',200, 'display.max_columns',900)

In [6]:
spark = SparkSession.builder \
    .config("spark.jars.packages","saurfang:spark-sas7bdat:2.0.0-s_2.11") \
    .enableHiveSupport() \
    .getOrCreate()

In [33]:
df_img=pd.read_csv('img_org_data.csv')

/opt/conda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (19,22,24) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [35]:
# Explor the Data
df_img.shape

(3096313, 29)

In [36]:
# select the data and show missing value
new_df_img=df_img[['cicid', 'i94yr', 'i94cit', 'i94port','i94res', 'arrdate', 'i94mode', 'biryear','i94visa', 'gender', 'fltno', 'visatype']] 
(new_df_img.isna().sum() /len(new_df_img)) * 100

cicid        0.000000
i94yr        0.000000
i94cit       0.000000
i94port      0.000000
i94res       0.000000
arrdate      0.000000
i94mode      0.007719
biryear      0.025902
i94visa      0.000000
gender      13.379429
fltno        0.631364
visatype     0.000000
dtype: float64

### Step 2: Explore and Assess the Data
#### Explore the Data and Cleaning Steps
* I94 immigration data - use I94_SAS_Labels_Description.SAS to find the city of each port after cleaning and creating a datafram from I94_SAS_Labels_Description.SAS. Drop any null or unreleavent data

* Temperature Data - Drop AverageTemperature is NaN, duplicate (City,locations), and add the i94port of each city.


* Create a list for the cites that is in the immigration database, filter temperature data and select only the cites that is exisit in immigration database. Add port number using merge tables.

In [37]:
new_df_img[['i94cit', 'i94port','i94res', 'arrdate', 'i94mode', 'biryear','i94visa', 'gender']].head(2)

   i94cit i94port  i94res  arrdate  i94mode  biryear  i94visa gender
0   692.0     XXX   692.0  20573.0      NaN   1979.0      2.0    NaN
1   254.0     ATL   276.0  20551.0      1.0   1991.0      3.0      M

In [38]:
# Cleaning: replace visatype values into 4 catogories: (B1, E2 = Business; B2 = Pleasure; F1 = Student, WB, WT= Three months visit, others = the rest)
new_df_img['visatype']= new_df_img['visatype'].replace(['B1', 'E2'], 'Business')
new_df_img['visatype']= new_df_img['visatype'].replace('B2', 'Pleasure')
new_df_img['visatype']= new_df_img['visatype'].replace('F1', 'Student')
new_df_img['visatype']= new_df_img['visatype'].replace(['WB','WT'], '3 Months Visa')
new_df_img['visatype']= new_df_img['visatype'].replace(['WB','WT'], '3 Months Visa')
new_df_img['visatype']= new_df_img['visatype'].replace(['GMT','CP', 'E1','I', 'F2','M1', 'I1', 'GMB', 'M2', 'SBP', 'CPL'], 'Others')

new_df_img.visatype.value_counts()

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

3 Months Visa    1592042
Pleasure         1117897
Business          231793
Others            115565
Student            39016
Name: visatype, dtype: int64

In [39]:
new_df_img.gender.value_counts()

M    1377224
F    1302743
X       1610
U        467
Name: gender, dtype: int64

In [40]:
new_df_img.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3096313 entries, 0 to 3096312
Data columns (total 12 columns):
cicid       float64
i94yr       float64
i94cit      float64
i94port     object
i94res      float64
arrdate     float64
i94mode     float64
biryear     float64
i94visa     float64
gender      object
fltno       object
visatype    object
dtypes: float64(8), object(4)
memory usage: 283.5+ MB

In [41]:
new_df_img.i94yr.value_counts()

2016.0    3096313
Name: i94yr, dtype: int64

In [42]:
# Get port locations from SAS text file
with open("./I94_SAS_Labels_Descriptions.SAS") as f:
    content = f.readlines()
content = [x.strip() for x in content]
ports = content[302:962]
splitted_ports = [port.split("=") for port in ports]
port_codes = [x[0].replace("'","").strip() for x in splitted_ports]
port_locations = [x[1].replace("'","").strip() for x in splitted_ports]
port_cities = [x.split(",")[0] for x in port_locations]
port_states = [x.split(",")[-1] for x in port_locations]
df_port_locations = pd.DataFrame({"i94port" : port_codes, "City": port_cities, "State": port_states})
df_port_locations.head(5)

  i94port                      City State
0     ALC                     ALCAN    AK
1     ANC                 ANCHORAGE    AK
2     BAR  BAKER AAF - BAKER ISLAND    AK
3     DAC             DALTONS CACHE    AK
4     PIZ    DEW STATION PT LAY DEW    AK

In [43]:
df_port_locations.City.value_counts()

NEWPORT                        3
VANCOUVER                      2
COLUMBUS                       2
PITTSBURG                      2
WILMINGTON                     2
Collapsed (FOK) 06/15          2
Collapsed into INT             2
LOS INDIOS                     2
YUMA                           2
PORTLAND                       2
MARFA                          2
DERBY LINE                     2
AKRON                          2
KETCHIKAN                      2
FREEPORT                       2
CANNON CORNERS                 2
MORRISTOWN                     2
CHARLESTON                     2
LEWISTON                       2
SAN LUIS OBISPO                2
LAKE CHARLES                   2
ROCHESTER                      2
ROME                           2
BELLINGHAM                     2
EASTPORT                       2
BOCAGRANDE                     1
FARGO                          1
MID-CONTINENT - WITCHITA       1
ST LOUIS                       1
NIGHTHAWK                      1
BRIDGEPORT                     1
BAUDETTE                       1
FORTUNA                        1
PORTAL                         1
KINDLEY FIELD                  1
BOOTHBAY HARBOR                1
NEW YORK                       1
GREENVILLE                     1
WESTHOPE                       1
DANVILLE                       1
WARROAD INTL                   1
MCALLEN                        1
REGIONAL ARPT - HORSEHEAD      1
RAYMOND                        1
BIRMINGHAM                     1
SANFORD                        1
HIGHGATE SPRINGS               1
ROUSES POINT                   1
THOMPSON FIELD - JACKSON       1
SAN SALVADOR                   1
MILWAUKEE                      1
HOWES REGIONAL ARPT - HURON    1
ROSEAU                         1
MOBILE                         1
FREDERIKSTED                   1
KALAMA                         1
SANTA ANA                      1
LAS CRUCES                     1
ARUBA                          1
ARAPAHOE COUNTY                1
MONROE                         1
GRAND CAYMAN                   1
PHOENIX                        1
ALBUQUERQUE                    1
No PORT Code (XNA)             1
OLYMPIA                        1
FRIDAY HARBOR                  1
DALTONS CACHE                  1
CAMDEN                         1
BALTIMORE                      1
BAR HARBOR                     1
GRAND FORKS                    1
CRANE LAKE                     1
MEDELLIN                       1
ST JOHN                        1
GALVESTON                      1
EAGLE PASS                     1
JACKMAN                        1
NORTH CAICOS                   1
GRANT COUNTY - SILVER CITY     1
SYRACUSE                       1
INTL FALLS                     1
SACRAMENTO                     1
WASHINGTON DC                  1
MARBLE HEADS                   1
DUTCH HARBOR                   1
AGUADILLA                      1
MUSKEGON                       1
No PORT Code (74S)             1
PENSACOLA                      1
NEWINGTON DATA CENTER TEST     1
METALINE FALLS                 1
LA GUARDIA                     1
HYDER                          1
FERRY                          1
TRI-CITIES - PASCO             1
MANGOLE ARPT                   1
HELENA                         1
MONTREAL                       1
KEAHOLE-KONA                   1
                              ..
EAGLE                          1
YOUNGSTOWN                     1
No PORT Code (Y62)             1
PORT CANAVERAL                 1
BEAUMONT                       1
LAREDO COLUMBIA BRIDGE         1
No PORT Code (BCM)             1
WINNIPEG                       1
NOT REPORTED/UNKNOWN           1
No PORT Code (X96)             1
ST ALBANS                      1
GREEN BAY                      1
RICHMOND                       1
WILLOW CREEK                   1
LOUISVILLE                     1
SHERWOOD                       1
PHILADELPHIA                   1
OTTAWA                         1
NORTHERN SVC CENTER            1
DUBLIN                         1
CARIBOU                        1
ATLANTA                        1
PORT HURON                     1
GEN M. ESCOBEDO                1
INDIANAPOLIS                   1
No PORT Code (ATW)             1
CALEXICO                       1
ADDISON AIRPORT- ADDISON       1
GALLATIN FIELD - BOZEMAN       1
GUARULHOS INTL                 1
FORT MYERS                     1
ALBEMARLE CHARLOTTESVILLE      1
CACHE AIRPORT - LOGAN          1
No PORT Code (NYL)             1
PORT TOWNSEND                  1
PIEDMONT TRIAD INTL AIRPORT    1
DULUTH                         1
MINN./ST PAUL                  1
NORFOLK                        1
TOKEEN                         1
SAULT STE. MARIE               1
No PORT Code (5T6)             1
ISLE ROYALE                    1
PHARR                          1
LYNDEN                         1
No PORT Code (AUH)             1
No PORT Code (CP)              1
SARLES                         1
No PORT Code (NK)              1
DEL BONITA                     1
VERACRUZ                       1
HOULTON                        1
BRIDGEWATER                    1
MAYAGUEZ                       1
OROVILLE                       1
VAN BUREN                      1
No PORT Code (SCH)             1
No PORT Code (NC8)             1
SUMAS                          1
LIMESTONE                      1
ASPEN                          1
EASTPORT MUNICIPAL             1
LORDSBURG                      1
TOLEDO                         1
ST AUGUSTINE ARPT              1
No PORT Code (DRV)             1
TAMPA                          1
PEMBINA                        1
MIAMI                          1
GREATER PEORIA                 1
CURLEW                         1
HAVRE                          1
ROOSVILLE                      1
PANAMA CITY                    1
ASTORIA                        1
BANGOR                         1
TORONTO                        1
TULSA                          1
LEESBURG MUNICIPAL AIRPORT     1
SAN PEDRO                      1
LAREDO NORTH                   1
VETERAN INTL BRIDGE            1
WEST PALM BEACH                1
CARRASCO                       1
SPOKANE                        1
SHILLAVO                       1
ORLANDO                        1
LANCASTER                      1
MEADOWS FIELD - BAKERSFIELD    1
PATUXENT RIVER                 1
TRUAX FIELD - DANE COUNTY      1
HARTFORD                       1
No PORT Code (AKT)             1
ANDREWS AFB                    1
ANTLER                         1
BEECHER FALLS                  1
No PORT Code (GPI)             1
ALBURG SPRINGS                 1
CALGARY                        1
ALGONAC                        1
Name: City, Length: 634, dtype: int64

In [44]:
# add a primery key column to the imgration table 'City'img
img_full=pd.merge(new_df_img, df_port_locations, how="outer", on=['i94port'] )

In [45]:
# drop selected value where City = NOT REPORTED/UNKNOWN
indexNames = img_full[(img_full['City'] == 'NOT REPORTED/UNKNOWN')].index 
img_full.drop(indexNames , inplace=True)

In [46]:
x='no port code'
ind=img_full[img_full.City.str.contains(x)].index
img_full.drop(ind , inplace=True)

g=['X','U', 'NaN']
ind=img_full[img_full.gender.isin(g)].index
img_full.drop(ind , inplace=True)

In [47]:
img_full.gender.value_counts()

M    1375596
F    1301121
Name: gender, dtype: int64

In [48]:
# check null value and drop
index=img_full[img_full.cicid.isnull()].index
img_full.drop(index , inplace=True)
img_full[img_full.cicid.isnull()]

Empty DataFrame
Columns: [cicid, i94yr, i94cit, i94port, i94res, arrdate, i94mode, biryear, i94visa, gender, fltno, visatype, City, State]
Index: []

In [49]:
# no duplicate in the primery key
len(img_full) - len(img_full.cicid.unique())

0

In [50]:
# Only 292 city we are intersting in:
img_full['City']=img_full.City.str.lower()
city_list=img_full.City.unique()
len(city_list)

292

In [30]:
#read weather file
temp_df=pd.read_csv('GlobalLandTemperaturesByCity.csv')
temp_df.tail(1)
temp_df['City']=temp_df['City'].str.lower()
len(temp_df['City'].unique())

3448

In [51]:
us_temp=temp_df[temp_df.Country == 'United States']
len(us_temp.City.unique())

248

In [62]:
# Filter data by city, this data has no record of City in USA so will ignor this data:
us_temp=us_temp[us_temp['City'].isin(city_list)]
temp_city=us_temp.City.unique()
len(us_temp.City.unique())

69

In [54]:
# drop null value
index=us_temp[us_temp.AverageTemperature.isnull()].index
us_temp.drop(index , inplace=True)
us_temp[us_temp.AverageTemperature.isnull()]

Empty DataFrame
Columns: [dt, AverageTemperature, AverageTemperatureUncertainty, City, Country, Latitude, Longitude]
Index: []

In [56]:
#will check the demographic city 
us_city=pd.read_csv('us-cities-demographics.csv', sep=';')
us_city['City']=us_city.City.str.lower()

In [57]:
# replace value of was
us_city.replace(to_replace ="washington", 
                 value ="washington dc", inplace=True)

In [58]:
# check the cities
us_city_img_city=us_city[us_city['City'].isin(city_list)]
test=us_city_img_city.City.unique()
len(us_city_img_city.City.unique())

81

In [59]:
us_city_img_city.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 439 entries, 12 to 2888
Data columns (total 12 columns):
City                      439 non-null object
State                     439 non-null object
Median Age                439 non-null float64
Male Population           439 non-null float64
Female Population         439 non-null float64
Total Population          439 non-null int64
Number of Veterans        436 non-null float64
Foreign-born              436 non-null float64
Average Household Size    436 non-null float64
State Code                439 non-null object
Race                      439 non-null object
Count                     439 non-null int64
dtypes: float64(6), int64(2), object(4)
memory usage: 44.6+ KB

In [65]:
# Create a valid list from imigration to filter cities 
new_im_data=img_full[img_full.City.isin(temp_city)]
# select only the columns below 
new_im_data=new_im_data[['City', 'i94port']]
new_im_data=new_im_data.reset_index(drop=True)
# drop duplicate
new_im_data=new_im_data.drop_duplicates(subset=['City', 'i94port'], keep='last')
new_im_data.sort_values('City')
new_im_data=new_im_data.reset_index(drop=True)

new_im_data

               City i94port
0           atlanta     ATL
1          new york     NYC
2            boston     BOS
3           houston     HOU
4             miami     MIA
5           chicago     CHI
6       los angeles     LOS
7         charlotte     CLT
8            denver     DEN
9            dallas     DAL
10          detroit     DET
11  fort lauderdale     FTL
12        las vegas     LVG
13          orlando     ORL
14      new orleans     NOL
15    san francisco     SFR
16         portland     POO
17     philadelphia     PHI
18          seattle     SEA
19   salt lake city     SLC
20            tampa     TAM
21        vancouver     VCV
22           austin     AUS
23          phoenix     PHO
24        san diego     SDP
25       cincinnati     CIN
26        baltimore     BAL
27          oakland     OAK
28        nashville     NSV
29      san antonio     SNA
30        cleveland     CLE
31         hartford     HAR
32        santa ana     SAA
33          ontario     ONT
34         columbus     CLM
35       charleston     CHS
36         san jose     SNJ
37        anchorage     ANC
38       long beach     LNB
39        milwaukee     MIL
40     indianapolis     INP
41      kansas city     KAN
42        rochester     ROC
43       sacramento     SAC
44      brownsville     BRO
45           laredo     LAR
46          el paso     ELP
47         syracuse     SYR
48           tucson     TUC
49         columbia     CAE
50     jacksonville     JAC
51          buffalo     BUF
52       manchester     MHT
53          norfolk     NOR
54          memphis     MEM
55          spokane     SPO
56            omaha     OMA
57       louisville     LOU
58        rochester     RST
59           mobile     MOB
60         savannah     SAV
61       charleston     CHL
62       birmingham     BHX
63   corpus christi     CRP
64      albuquerque     ABQ
65        lancaster     LAN
66             reno     REN
67       providence     PRO
68          nogales     NOG
69      baton rouge     BTN
70           fresno     FRE
71         columbus     COL

In [67]:
# drop duplicate city
us_temp=us_temp.sort_values('City').drop_duplicates(subset=['City', 'Country'], keep='last')

us_temp_new=pd.merge(us_temp, new_im_data, how="outer", on="City")
us_temp_new

            dt  AverageTemperature  AverageTemperatureUncertainty             City        Country Latitude Longitude i94port
0   1885-12-01               0.768                          1.095      albuquerque  United States   34.56N   107.03W     ABQ
1   1893-05-01               6.884                          1.725        anchorage  United States   61.88N   151.13W     ANC
2   1840-09-01              19.963                          2.114          atlanta  United States   34.56N    83.68W     ATL
3   1885-02-01              10.883                          1.353           austin  United States   29.74N    97.85W     AUS
4   1840-12-01              -0.987                          1.688        baltimore  United States   39.38N    76.99W     BAL
5   1875-09-01              23.950                          0.623      baton rouge  United States   29.74N    90.46W     BTN
6   1840-07-01              25.855                          1.705       birmingham  United States   32.95N    87.13W     BHX
7   1840-04-01               7.766                          2.863           boston  United States   42.59N    72.00W     BOS
8   1886-10-01              24.531                          0.944      brownsville  United States   26.52N    96.72W     BRO
9   1839-06-01              15.859                          1.508          buffalo  United States   42.59N    78.55W     BUF
10  1840-02-01              14.869                          3.843       charleston  United States   32.95N    79.47W     CHS
11  1840-02-01              14.869                          3.843       charleston  United States   32.95N    79.47W     CHL
12  1840-02-01              11.100                          3.373        charlotte  United States   34.56N    81.73W     CLT
13  1839-04-01              11.092                          2.071          chicago  United States   42.59N    87.27W     CHI
14  1840-02-01               3.764                          2.664       cincinnati  United States   39.38N    85.32W     CIN
15  1840-02-01               1.983                          2.523        cleveland  United States   40.99N    80.95W     CLE
16  1840-08-01              25.611                          1.275         columbia  United States   34.56N    81.73W     CAE
17  1927-03-01              12.886                          0.301         columbus  United States   32.95N    85.21W     CLM
18  1927-03-01              12.886                          0.301         columbus  United States   32.95N    85.21W     COL
19  1885-03-01              16.829                          0.782   corpus christi  United States   28.13N    97.27W     CRP
20  1884-05-01              20.937                          0.613           dallas  United States   32.95N    96.70W     DAL
21  1884-03-01               1.826                          0.521           denver  United States   39.38N   104.05W     DEN
22  1839-08-01              21.033                          3.187          detroit  United States   42.59N    82.91W     DET
23  1892-03-01              10.300                          0.680          el paso  United States   31.35N   105.55W     ELP
24  1853-01-01              15.889                          1.646  fort lauderdale  United States   26.52N    80.60W     FTL
25  1904-04-01              13.948                          0.361           fresno  United States   36.17N   119.34W     FRE
26  1840-09-01              15.865                          1.337         hartford  United States   40.99N    72.43W     HAR
27  1884-10-01              21.872                          0.668          houston  United States   29.74N    96.00W     HOU
28  1840-07-01              23.647                          1.329     indianapolis  United States   39.38N    85.32W     INP
29  1840-04-01              22.202                          2.765     jacksonville  United States   29.74N    81.23W     JAC
30  1852-02-01               1.605                          1.541      kansas city  United States   39.38N    93.64W     KAN
31  1904-02-01              10.631                          1.046        lancaster  United States   34.56N   118.70W     LAN
32  1886-10-01              22.418                          1.107           laredo  United States   28.13N    99.09W     LAR
33  1899-03-01              11.601                          0.501        las vegas  United States   36.17N   115.36W     LVG
34  1903-09-01              18.953                          0.691       long beach  United States   32.95N   117.77W     LNB
35  1903-05-01              16.115                          0.903      los angeles  United States   34.56N   118.70W     LOS
36  1840-03-01               9.813                          1.363       louisville  United States   37.78N    85.42W     LOU
37  1840-06-01              17.275                          1.739       manchester  United States   42.59N    72.00W     MHT
38  1840-04-01              18.327                          2.693          memphis  United States   34.56N    89.51W     MEM
39  1854-05-01              25.198                          0.773            miami  United States   26.52N    80.60W     MIA
40  1839-02-01               2.925                          1.618        milwaukee  United States   42.59N    87.27W     MIL
41  1853-05-01              21.593                          1.802           mobile  United States   31.35N    88.59W     MOB
42  1839-05-01              20.369                          1.061        nashville  United States   36.17N    87.51W     NSV
43  1875-09-01              23.950                          0.623      new orleans  United States   29.74N    90.46W     NOL
44  1840-12-01              -3.145                          1.692         new york  United States   40.99N    74.56W     NYC
45  1894-05-01              21.000                          0.740          nogales  United States   31.35N   111.20W     NOG
46  1840-09-01              21.534                          1.647          norfolk  United States   36.17N    75.58W     NOR
47  1903-05-01              16.164                          0.286          oakland  United States   37.78N   122.03W     OAK
48  1850-09-01              18.948                          1.192            omaha  United States   40.99N    95.86W     OMA
49  1904-04-01              15.583                          0.917          ontario  United States   34.56N   116.76W     ONT
50  1840-02-01              19.062                          2.819          orlando  United States   28.13N    80.91W     ORL
51  1840-09-01              17.457                          1.377     philadelphia  United States   39.38N    74.91W     PHI
52  1894-07-01              32.458                          0.535          phoenix  United States   32.95N   112.02W     PHO
53  1891-08-01              17.601                          0.642         portland  United States   45.81N   123.46W     POO
54  1840-05-01              12.818                          1.782       providence  United States   42.59N    72.00W     PRO
55  1898-04-01              11.421                          0.356             reno  United States   39.38N   120.69W     REN
56  1839-04-01               7.752                          1.764        rochester  United States   42.59N    78.55W     ROC
57  1839-04-01               7.752                          1.764        rochester  United States   42.59N    78.55W     RST
58  1903-02-01               7.446                          0.568       sacramento  United States   37.78N   122.03W     SAC
59  1890-12-01               0.511                          0.800   salt lake city  United States   40.99N   112.90W     SLC
60  1884-12-01              10.334                          0.756      san antonio  United States   29.74N    97.85W     SNA
61  1903-09-01              18.953                          0.691        san diego  United States   32.95N   117.77W     SDP
62  1903-09-01              18.872                          0.420    san francisco  United States   37.78N   122.03W     SFR
63  1903-10-01              17.223                          0.463         san jose  United States   37.78N   122.03W     SNJ
64  1903-12-01              14.554                          0.527        santa ana  United States   32.95N   117.77W     SAA
65  1840-07-01              25.361                          1.935         savannah  United States   31.35N    81.05W     SAV
66  1891-09-01              11.705                          0.358          seattle  United States   47.42N   121.97W     SEA
67  1887-04-01               7.305                          0.470          spokane  United States   47.42N   117.24W     SPO
68  1840-06-01              17.373                          1.421         syracuse  United States   42.59N    76.36W     SYR
69  1842-03-01              21.573                          2.377            tampa  United States   28.13N    82.73W     TAM
70  1894-02-01               7.424                          0.755           tucson  United States   31.35N   111.20W     TUC
71  2013-09-01              16.646                          1.206        vancouver  United States   45.81N   123.46W     VCV

In [36]:
# df_img

### Step 3: Define the Data Model


## Data Dictionary:
##### Fact table Table - This will contain events from the I94 immigration data.
* cicid: ID that is unique
* i94cit: code of city
* i94res: 3 digit code of immigrant country of residence
* i94port:  3 character code of destination USA city
* i94mode: travel code
* i94visa - type of the visa 
* gender - M, F


##### Dim temperature:

* i94port = 3 character code of destination city 
* AverageTemperature = average temperature
* City = Name of the City
* Latitude= latitude
* Longitude = longitudeCity = city name
* Country = country name


##### Dim Immigration:

 * cicid: id 
 * i94yr: year 
 * i94cit: City code 
 * i94port: US code of destination
 * i94res: immigrant country of residence
 * arrdate: Arrival date in the USA
 * i94mode: type of trip
 * biryear: year of birth
 * i94visa: Visa Code
 * gender: M, F
 * fltno:Flight number of the airline
 * visatype: Student, Buiness , Three months, Pleasure 
 * State: State

### Step 4: Run Pipelines to Model the Data 
#### 4.1 Create the data model
Build the data pipelines to create the data model.

In [77]:
img_full.to_csv('img_full.csv')
us_temp_new.to_csv('us_temp_new.csv')

In [78]:
# Write code here
df_img=spark.read.format("csv").option("header", "true").load('img_full.csv')
df_img.createOrReplaceTempView('imgration')

us_temp_new=spark.read.format("csv").option("header", "true").load('us_temp_new.csv')
us_temp_new.createOrReplaceTempView('temp')

In [84]:
us_temp_new.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- dt: string (nullable = true)
 |-- AverageTemperature: string (nullable = true)
 |-- AverageTemperatureUncertainty: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Latitude: string (nullable = true)
 |-- Longitude: string (nullable = true)
 |-- i94port: string (nullable = true)

In [87]:
# ## Conceptual Data Model
# #### imigration dim:
df_img.write.mode("append").partitionBy("i94port").parquet("immigration/")

In [89]:
#dim_temperature
us_temp_new.write.mode("append").partitionBy("i94port").parquet("temperature/")

In [86]:
df_img.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- cicid: string (nullable = true)
 |-- i94yr: string (nullable = true)
 |-- i94cit: string (nullable = true)
 |-- i94port: string (nullable = true)
 |-- i94res: string (nullable = true)
 |-- arrdate: string (nullable = true)
 |-- i94mode: string (nullable = true)
 |-- biryear: string (nullable = true)
 |-- i94visa: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- fltno: string (nullable = true)
 |-- visatype: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)

In [97]:
# Create the fact table by joining the immigration and temperature views
fact_table = spark.sql('''
SELECT imgration.cicid as id,
       imgration.i94yr as year,
       imgration.i94cit as city,
       imgration.i94port as i94port,
       imgration.i94visa as reason,
       imgration.i94mode as type_of_trip,
       temp.AverageTemperature as temperature,
  
FROM imgration
JOIN temp ON (imgration.i94port = temp.i94port)
''')

In [98]:
#Write fact table to parquet files partitioned by i94port
fact_table.write.mode("append").partitionBy("i94port").parquet("fact/")

#### 4.2 Data Quality Checks
Explain the data quality checks you'll perform to ensure the pipeline ran as expected. These could include:
 * Integrity constraints on the relational database (e.g., unique key, data type, etc.)
 * Unit tests for the scripts to ensure they are doing the right thing
 * Source/Count checks to ensure completeness
 
Run Quality Checks

In [99]:
# Perform quality checks here
def quality_check(df, description):
    result = df.count()
    
    if result == 0:
        print("Data quality check failed for {} with zero records".format(description))
    else:
        print("Data quality check passed for {} with {} records".format(description, result))
    return 0

In [100]:
# Perform data quality check
quality_check(df_img, "immigration table")
quality_check(us_temp_new, "temperature table")

Data quality check passed for immigration table with 3090769 records
Data quality check passed for temperature table with 72 records

0

### Complete Project Write Up:
Technology of this project:
* Spark 
* Panda
* Sql 
* SAS CSV 
ETL - I have extarct the data from diifrent source and use the datafarem to clean and modify the data that can be combine and used as data lake. Finaly the data can be extarct and combine  using 194port number

Answer questions:


### If the data was increased by 100x.
I will keep the process the same due to the fact Spark is a great tool for processing datasets. However, using EMR cluster is more powerful in the distributed way to handle 100x bigger data.

### If the pipelines were run on a daily basis by 7am?
To run run at 7am each day as production level pipeline, I have to convert the Jupyter notebook to a python script and send that directly to the emr instance to run every day at 7am. I only used Jupyter as quick display to the data as an analyst.

### If the database needed to be accessed by 100+ people. If the dataset needed to be accessed by 100+ more people there should not really be a problem pulling it from S3. 

A good solution of this approach to consider transferring it to the EMR HDFS database to make things a bit quicker. Also, Use RedShift to have the data stored in a way that it can efficiently be accessed by many people

### why I chose the this data model: tha.
The ETL I have built resulted in two dimensions tables and a fact table.
To approach this, I have aggregated dataset by the city to create two-dimension tables (immigration and temperature) and I created fact table by joining two tables on city. .
Finally, we will run the query on the immigration event to find out if the temperature has affected the immigration choice of city. .
I used Spark cause its  free open source and efficient to extract and manipulate data lake.